@import reset
@import colors

$navWidth: 300px

body
    position: relative
    font-family: 'Montserrat', sans-serif
    // background-image: url(../assets/math_bgc.png)
    // background-size: cover
    

.page-bgc
    opacity: 1
    position: absolute
    left: 0
    top: 0
    width: 100vw
    height: 100%
    background-image: url(../assets/math_bgc_3500_3313.png)
    background-size: contain
    .bgc-shadow
        width: 100vw
        height: 100vh
        background-color: var(--shadowBgcRGB)


.page-container
    position: relative
    width: 100vw
    display: grid
    grid-template-columns: 1fr $navWidth
    grid-template-rows: 1fr
    gap: 0px 0px
    grid-template-areas: ". ."

    

//---NAVIGATION--------------------------------------------------------
.nav
    position: fixed
    width: $navWidth
    height: 100%
    top: 0
    right: 0
    padding: 20px
    background-color: rgba(var(--firstColorRGB),.5)

    border-left: 1px solid var(--thirdColor)
    overflow: scroll
    transition: right 1s
    h1
        font-weight: 700
        margin-bottom: 20px
    ul
        list-style: none
        li
            padding: 10px 10px
            a
                padding: 10px 10px
                font-size: 18px
                text-decoration: none
                &:hover
                    color: var(--fourthColor)

.activeNavItem
    color: var(--fourthColor)

.menu-btn
    display: none
    
//---MAIN--------------------------------------------------------
.wrap-app
main
    display: flex
    flex-direction: row
    justify-content: center
    flex-wrap: wrap
    overflow: scroll
    height: 100vh

.app
    opacity: 0
    transition: opacity 1s
    display: flex
    flex-direction: column
    min-width: 300px
    position: relative
    width: 600px
    overflow: hidden
    &__header
        text-align: center
        margin: 20px 20px
    &__items
        display: flex
        justify-content: center
        align-items: stretch
        &-grows
            flex-grow: 1
    &__item
        display: flex
        flex-direction: column
        padding: 10px 0px
    &__buttons
        display: flex
        justify-content: space-around
        &--mathcalc
            display: grid
            grid-template-columns: repeat(4, 1fr)
            grid-template-rows: repeat(5, 1fr)
            grid-column-gap: 10px
            grid-row-gap: 10px

    &__btn
        background-color: var(--thirdColor)
        width: 100px
        height: 40px
        border-radius: 20px
        border: 0
        color: var(--firstColor)
        &--mathcalc
            width: 100%
            font-size: 30px
        &--mathcalc0
            grid-area: 5 / 1 / 6 / 3
        &--clear-history
            width: 50%   
            height: 20px
            margin-left: 25%


        &:hover
            background-color: var(--thirdColorDarker)

        &:active
            background-color: var(--thirdColorDarkest)
.data, .results
    margin: 20px

.data-form
    display: flex
    flex-direction: column
    ::-webkit-input-placeholder
        color: var(--thirdColor)
    &__form-item
        background-color: var(--firstColor)
        margin-top: 5px
        padding: 0 15px
        height: 40px
        border: 0
        border-radius: 20px
        &--mathCalc
            display: flex
            justify-content: flex-end
            white-space: nowrap
            overflow: hidden
            cursor: pointer
            font-size: 30px
            

    &__number
        border-radius: 20px 0 0 20px
    &__years-months,&__currency
        width: 103px
        border-radius: 0 20px 20px 0
        border-left: 1px solid #d6d6d6


.results
    display: flex
    position: relative
    width: 100%
    margin: 20px 0
    overflow: scroll
    &__buttons
        width: 50%
        .result-button
            width: 100%
            background-color: transparent
            border: 0
            padding: 0
            margin: 0
            &--active
                border-bottom: 2px solid
                padding: 0 40px
    &--loancalc
        height: 200px

    .result
        position: relative
        left: 0
        overflow: scroll
        // word-break: break-all
        &--memory
            display: flex
            flex-direction: column-reverse
            padding: 0 20px
            width: 100%
        p
            margin: 5px
.currency-list
    display: flex
    flex-direction: column
.search-currency-wrap
    .search-currency
        width: 100%



.currency-table 
    table-layout: fixed
    margin: auto
    width: 100%
    text-align: center
    border-spacing: 0
    tr
        line-height: 30px        
    th
        line-height: 50px        
        border-bottom: 2px solid var(--thirdColor)
    


.error
    border: 3px solid red

.hide
    display: none



.opacity
    opacity: 1
    transition: opacity 1.5s